/* Le message indiquant une erreur dans le remplissage des champs est caché par défaut */
.message_alert{
  visibility: hidden;
}

/* Permet d'afficher les textes d'inscription et de connexions à cote au lieu de l'un en dessous de l'autre*/
.page-scroll a {
  display: inline !important;
}

.icone{
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../img/redes.png");
}

.facebook{
  background-position:-48px -48px;
}

.facebook:hover{
  background-position:-48px 0;
}

.twitter {
  background-position: -144px -48px;

}

.twitter:hover {
  background-position: -144px 0px;
}
